extends base

block content    
    body
        div(class="pms__page")
            include _header
            form(class="addNewProjectForm" id="addNewProjectForm")
                <h1>New Project</h1>
                div(class="addNewProjectGroup")
                    h2 Project Name
                    input(type="text" placeholder="Name your new Project" id="newProjectName" required)
                div(class="addNewProjectGroup")
                    h2 Description
                    input(type="text" placeholder="Summary" id="newProjectSummary" required)
                div(class="addNewProjectGroup")
                    h2 Planned Start Date
                    input(type="date"  class="addNewProjectGroup__inputBox" id="newProjectPlannedStartDate" required)
                div(class="addNewProjectGroup")
                    h2 Planned End Date
                    input(type="date" class="addNewProjectGroup__inputBox" id="newProjectPlannedEndDate" required)
                div(class="addNewProjectGroup")
                    h2 Project Manager
                    select(id="newProjectManager")
                div(class="addNewProjectGroup")
                    h2 Customer
                    select(id="newProjectCustomer")
                div(class="addNewProjectGroup")
                    h2 Budget
                    input(type="number" class="addNewProjectGroup__inputBox" id="newProjectBudget" required)
                div(class="addNewProjectGroup")
                    button(class="createNewProjectBtn createNewProjectBtn--submit" type="submit" id="createNewProjectBtn--submit") Create Project
                    button(type="reset" class="createNewProjectBtn createNewProjectBtn--cancel" id="createNewProjectBtn--cancel") Cancel
            section(class="projectPageNotification" id="projectPageNotification")
                p(class="message")
            section(class="projects" id="projects")
                div(class="projectGroup")
                    div(class="projectGroup__status")
                        div(class="projectGroup__status--Btn")
                            a(class="projectGroup__status--link" id="activeProjectsBtn") Active Projects
                        div(class="projectGroup__status--Btn")
                            a(class="projectGroup__status--link" id="completedProjectsBtn")  Completed Projects
                        div(class="projectGroup__status--Btn")
                            a(class="projectGroup__status--link" id="otherProjectsBtn")  Other Projects
                    div(class="projectGroup__control")
                        button(id="createNewProjectFormBtn")
                            a(href="#") 
                                i(class="fas fa-plus")
                div(class="projectList" id="projectList")
                  
    script(src="/js/application.js")
