extends base

block content 
    body 
        div(class="pms__page")
            include _header
            div(class="main")
                h1 STATISTICS 
                p here are some stats
            div()
                button() click me
            button() dont click me 
        script (src="/js/application.js")