extends base

block content 
    body 
        div(class="pms__page")
            include header
                div()
                    button(id="Test")
                        a(href="/dashboard") Dashboard
        script (src="/js/application.js")