extends base

block content 
    body 
        div(class="pms__page")
            include _header
                div(class="main")
                    h1 STATISTICS 
        script (src="/js/application.js")