@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
  }
  
@keyframes smoothbounce{ 
    0%{
        transform: translateY(-1rem);

    }
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(-1rem);
    }
} 
@keyframes scaling{ 

    100%{
        transform: scale(random(1));
    }
} 

@keyframes swing{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);

    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes navbarexpand{
    0%{
        height: 0vh;
    }

    80%{
        height: 95vh;
        transform: translateY(1rem);
    }
    90%{
        transform: translateY(-.5rem);
    }
    100%{
        height: 95vh;
        transform: translateY(0rem);
    }
}


@keyframes notification_display{
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
        top: 0;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes matchPairAnimation {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    90%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes blink {
    0%{
        opacity: 1;
        transform: scale(1);
    }

    50%{
        opacity: .8;
        transform: scale(.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes writingPencil {
    0%{
transform: translateX(0) rotate(-15deg);
    }
    20%{
transform: rotate(0deg);
    }
    40%{
        transform: rotate(-12deg);
    }
    60%{
        transform: translateX(.8rem) rotate(-15deg);
    }
    100%{
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes removePencilBtn {
    100%{
        transform: scale(0);
    }
}
@keyframes saveButtonDisplay {
    0%{
        width: 1rem;
        border-radius: 50%;
        opacity: .2;
        font-size: 0;
    }
    20%{

    }
    100%{
        width: 18rem;
        border-radius: .4rem;
        opacity: 1;
        font-size: 1.2rem;
    }
}

@keyframes showDetailTab {
    0%{
        opacity: 0;
        transform: translateY(2rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes removeDetailTab {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes showUpdatePhotoForm {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes removeUpdatePhotoForm {
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(150%);
    }
}

@keyframes dropdownMenuShow {
    0%{
        opacity: 0;
        transform: rotateX(-90deg);
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg);
    }
}
@keyframes createNewEmployeeNotification_shown{
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes updateEmployeeInformationBox_shown {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateY(5rem);
    }
}

@keyframes blurBackground {
    0%{
        filter: blur(0rem);
    }
    100%{
        filter: blur(.2rem);
    }
}

@keyframes createNewProjectFormShown {
    0%{
        opacity: .5;
        transform: scale(0);
    }

    30%{
        border-radius: 1rem;
        width: 40rem;
        height: 3rem;
    }
    
    100%{
    opacity: 1;
    width: 40rem;
    height: 72rem;
    border-radius: 1rem;
    transform: scale(1);

    }
}
@keyframes createNewProjectGroupShown {
    0%{
        opacity: 0;
        transform: translateX(-2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes projectCard__shown {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes showProjectDetailForm {
    0%{
        opacity: 0;
        transform: scale(.5);
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes showFormProjectDetailPage {
    0%{
        opacity: 0;
        transform: scale(.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}