.employeeDetails{
    display:flex;
    position: relative;
    z-index: 1;
}
.employeeDetailGroup{
    margin-left: 2rem;
    margin-top: 5rem;
}
.employeeGeneralInfo{
    display:flex;
    position: relative;
    width: 25rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    flex-direction: column;
    background-color: rgba($primary-font-color,1);

    box-shadow: 0 0 .8rem .4rem rgba($tertiary-font-color,1);
    @include defaultFont;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba($tertiary-font-color,1);
    &__group{
        display:flex;
        flex-direction: column;

        &--btn{
            position: absolute;
            display:flex;
            width: 4rem;
            height: 4rem;
            right: 2rem;
            top: 1rem;
            background-color: rgba($primary-font-color,1);
            border:none;
            border-radius: 50%;
            box-shadow: 0 0 .5rem .2rem rgba($tertiary-font-color,1);
            &:focus,&:active{
                outline: none;
            }
            & i{
                cursor: pointer;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                font-size: 2rem;
                color: rgba($tertiary-font-color,1);
                transition: all .2s;
         
            }
            &:hover{
                animation-name: blink;
                animation-iteration-count: infinite;
                animation-duration: 1s;

            }

        }
    }
    &__group:nth-of-type(2){
        margin: 2rem 0;
        & h1{
            display:flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: rgba(black,.8);
            letter-spacing: .2rem;
        }
        & div{
            display:flex;
            margin-top: .5rem;
            width: 20rem;
            height: 3rem;
            background-color: rgba($secondary-page-color,.3);
            border-radius: 2rem ;
        }
        & p{
            color:  rgba($secondary-page-color,1);
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
    }
    &__group:nth-of-type(3), &__group:nth-of-type(4), &__group:nth-of-type(5), &__group:nth-of-type(6),&__group:nth-of-type(7){
        text-align: left;
        justify-content: baseline;
        align-items: baseline;
        width: 23rem;
        height: 6rem;
        border-radius: .8rem;
        background-color: rgba($tertiary-font-color,.4);
        margin: .5rem 10rem;

        & label{
            color:rgba($primary-font-color,1);
            padding-left: 1rem ;
            padding-top: 1rem;
            font-size: 1.3rem;
            letter-spacing: .2rem;
        }
        & p{
            padding-left: 1rem;
            font-weight: bold;
            color: rgba(black,.7);
            font-size: 1.2rem;
        }
    }
    &__group:nth-of-type(7){
        margin-bottom: 2rem;
    }
}

.detailInformationGroup{
    display: flex;
    flex-direction: column;
}
.detailInformationGroup__control{
    display: flex;
    &--btn{
        background-color: transparent;
        border: none;
        margin: 2rem;
        &:focus, &:active{
        
            outline: none;
        }
        &:active p {
            transition: all .2s;
            backface-visibility: hidden;
           transform: scale(.99);
        }
        & p{
            position: relative;
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: .1rem;
            color: rgba($tertiary-font-color,1);
            @include defaultFont;
            &::after{
                transition: all .2s;
                content: "";
                position: absolute;
                background-color: rgba($secondary-page-color,1);
                width: 0%;
                opacity: 0;
                height: .3rem;
                border-radius: 2rem;
                transform: translateY(1rem);
                bottom: -.2rem;
                left: 0;
                transform-origin: center;
            }
        }
        & p:hover{
            color: darken(rgba($tertiary-font-color,1),20%);
           &::after{
               opacity: 1;
               width: 100%;
               transform: translateY(0rem);
           }         
        }    
    }
}
.detailInformationGroup__contact, .detailInformationGroup__personalData, .detailInformationGroup__workData{
    display:none;
    flex-direction: column;
    width: 80rem;
    background-color: rgba($primary-font-color,1);
    margin: 1rem 0 2rem 2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem .4rem rgba($tertiary-font-color,.4);
    position: relative;
    & h1{
        margin: 1rem 0 2rem 2rem;
        font-size: 2rem;
        letter-spacing: .2rem;
        color: rgba($tertiary-font-color,1);
        font-weight: bold;
    }
    &--btn{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1rem;
        right: 2.5rem;
        width: 3rem;
        height: 3rem;
        border:none;
        background-color: transparent;
        & i{
            font-size: 2rem;
            color: rgba($tertiary-font-color,.4);
            transition: all .2s;
        }
        &:hover i{
            backface-visibility: hidden;
            color: rgba($tertiary-font-color,1);
            animation-name: writingPencil;
            animation-duration: 2s;
            animation-iteration-count: infinite; 
        }
        &:active, &:focus{
            outline: none;
            border:none;
        }
    }
}

.WorkDataInputBox{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;
    & option{
        color: rgba($tertiary-font-color,1);
        font-weight: 700;
    }
    @include defaultFont;
    &:focus{
        outline: none;
    }
}

.detailInfoSubgroup{
    display: flex;
    margin: 1.5rem;

    &__card{
        display: flex;
        flex-direction: column;
        border-radius: .5rem;
        background-color: rgba($tertiary-font-color,.2);
        padding: .6rem;
        height: 6rem;
        width: 50%;
        margin: 0 1rem;
        font-size: 1.3rem;
        font-weight: bold;
        color: rgba($tertiary-font-color,1);
        & label{
            margin-bottom: .5rem;
        }
        & input{
            outline: none;
            border: none;
            background-color: transparent;
            font-weight: 700;
        }
    }
}

.saveNewEmployeeData{
    display: none;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    @include defaultFont;
    color: rgba(white,1);
    font-weight: 700;
    border: none;
    letter-spacing: .1rem;
    top: 1.1rem;
    right: 2.5rem;
    width: 15rem;
    opacity: 0;
    height: 3rem;
    transition: all .2s;
    backface-visibility: hidden;
    &:focus, &:active{
        outline: none;
    };
    background-image: linear-gradient(315deg, #56ab2f  0%, #a8e063 74%);
    &:hover{
        transform: translateY(-.1rem);
    }
    &:active{
        transform: translateY(0rem);

    }

}

.updateEmployeePhotoForm{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    top:12rem;
    right: 4rem;
    width: 30rem;
    height: 30rem;
    background-color: rgba($primary-font-color,1);
    border-radius: .8rem;
    box-shadow: 0 0 .8rem .4rem rgba($tertiary-font-color,1);
    overflow: hidden;
    transform: translateX(150%);
    & div:nth-of-type(1){
        margin-bottom: auto;

    }
    & div:nth-of-type(2){
        display: flex;
        width: 100%;
    }
    & label, & button{
        cursor: pointer;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 120%;
        height: 6rem;
        font-size: 1rem;
        font-weight: 800;
        color: rgba($primary-font-color,1);
        letter-spacing: .2rem;
        padding: .2rem .5rem;
        background-color: lighten(rgba($tertiary-font-color,1),20%);
    }
    & label{
        &:hover{
            background-color: rgba($tertiary-font-color,1) ;
        }
    }
    & button{
        transition: all 1s;
        &:hover {
            &:nth-of-type(1){
            background-color: rgba(43, 255, 0,1) ;
            }
            &:nth-of-type(2){
                background-color: rgba(212, 34, 34,1);
            }
        }
        @include defaultFont;
        outline: none;
        border: none;
        &:focus, &:active{
            outline:none;
        }

    }

}
#imageFile{
    display: none;
}
#imageOutput{
    margin: 3rem 0 0 0;
    display: flex;
    width: 14rem;
    height: 15rem;
    border-radius: .8rem;

}