.wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.notification{
    @include defaultFont;
    font-weight: 600;
    display: flex;
    width: auto;
    letter-spacing: .2rem;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0,0,0,.4);
    height: 5rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0 1rem;
}