.projects{
    display: flex;
    flex-direction: column;
    flex:1 1;

}
.projectGroup{
    display: flex;
    width: 100%;
    height: 10rem;
    @include defaultFont;
    font-size: 1.5rem;
    position: relative;
    &__control{
        display: flex;
        margin-top: 5rem;
        margin-right: 10rem;

        & button{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: transparent;
            border:none;
            
        }
        & a{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: rgba($primary-font-color,1);
            font-size: 2rem;
            border-radius: 50%;
            text-decoration: none;
            background-image: linear-gradient(135deg, transparent 0%, transparent 50%, rgba($secondary-page-color,1) 60%);
            background-size: 500%;
            width: 5rem;
            height: 5rem;
            box-shadow:  0 0 .5rem .2rem rgba($tertiary-font-color,.7);
            transition: all .3s;
            &:hover{
                transform: translateY(-.2rem);
                background-position: 100%;
                box-shadow:  0 0 .8rem .2rem rgba($tertiary-font-color,.7);

            }
            &:active{
                box-shadow:  0 0 .3rem .2rem rgba($tertiary-font-color,.7);

                transform: translateY(0);
            }
        }
    }
    &__status{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 5rem;
        margin-left: 10rem;
        margin-right: auto;
        &--Btn{
            display: flex;
            cursor: pointer;
            margin: 0 2rem;
            
            & a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: 700;
                letter-spacing: .2rem;
                text-decoration: none;
                color: rgba($tertiary-font-color,1);
                position: relative;
                &::after{
                    transition: all .2s;
                    content: "";
                    position: absolute;
                    background-color: rgba($secondary-page-color,1);
                    width: 0%;
                    opacity: 0;
                    height: .3rem;
                    bottom: 1rem;
                    border-radius: 1rem;
                    transform: translateX(-2rem);
                }
            }
            & a:hover{
                color: darken(rgba($tertiary-font-color,1),20%);
               &::after{
                   opacity: 1;
                   width: 100%;

                   transform: translateX(0rem);

               }         
            }    
        }
    }

}
.projectList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem 0 5rem;
    
}
.projectCard{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 30rem;
    margin:2rem;
    background-color: rgba($primary-font-color,1);
    border-radius: 2rem;
    @include defaultFont;
    position: relative;
    box-shadow: 0 .8rem .6rem -.6rem rgba($tertiary-font-color,.4);
    &::before,&::after{
        transition: all .2s;
        left: 50%;
        transform:translateX(-50%) ;
        content: "";
        position: absolute;
        height: .4rem;
        background-color: rgba($primary-font-color,1);
        width:100rem;
        border-radius: 2rem;
        bottom:0;
    }
    &::before{
        width: 80%;
    }&::after{
        width: 60%;
    }
    &:hover{
        box-shadow: 0 1rem .8rem -.6rem rgba($tertiary-font-color,.8);

        &::before{
            bottom: -1rem;
        }
        &::after{
            bottom: -2rem;
        }
    }
    &__SubGroup{
        width: 100%;
    }
    &__Group{
        display: flex;
        width: 100%;
        &--1{
            height: 3rem;
        }
        &--2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 10rem;
            color: darken(rgba($tertiary-font-color,1),20%);
            & h2{
                letter-spacing: .3rem;
                font-weight: 1000;
                font-size: 1.6rem;
            }
            & p{
                font-weight: 500;
                font-size: 1.4rem;                
                font-weight: 600;
                letter-spacing: .1rem;


            }
        }
        &--3{
            font-weight: 1000;
            color: rgba($tertiary-font-color,1);
            font-size: 1.2rem;
            letter-spacing: .2rem;
            & p{
                padding-left: 2rem;
                margin-bottom: 1rem;
            }
        }
        &--team{
            padding-left: 1rem;
            display: flex;
            width: 40%;
            overflow: hidden;
        }
        &--progressBar{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 6rem;
            margin-bottom: 1rem;
            & p{
                text-align: right;
                margin-right: 1rem;
                margin-top: 1rem;
            }
        }
        
        &--header{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-right: auto;
            padding-left: 2rem;
            padding-top: .5rem;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: .1rem;
            color: rgba($tertiary-font-color,.8);
            
        }
        &--headerBtn{
            display: flex;
            width: 2rem;
            height: 2rem;
            font-size: 1.2rem;
            padding-top: .5rem;
            & a{
                text-decoration: none;
                color: rgba($tertiary-font-color,.7);
            }

        }
        &--timeleft{
            width: 40%;
            height: 100%;
            font-size: 1.2rem;
            font-weight: 1000;
            & p{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: rgba($secondary-page-color,1);
                width: 70%;
                height: 100%;
                border-radius: 4rem;
                background-color: rgba($secondary-page-color,.5);

            }
        }
    }

}

.projectProgressBar{
    display: flex;
    width: 95%;
    height: 1.5rem;
    border-radius: 2rem;
    margin-left: 1rem;
    border: .2rem solid rgba($tertiary-font-color,.2);
    position: relative;
    overflow: hidden;
}
.teamMembers{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: .3rem solid white;
    border-radius: 50%;
    &:not(:first-of-type){
        margin-left: -2rem;
    }
    &__control{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        margin-right: auto;
        &--btn{
            cursor: pointer;
            width: 100%;
            height: 100%;
            font-size:1.5rem;
            border: none;
            outline: none;
            background-color: rgba($secondary-page-color,.8);
            border-radius: 50%;
            & i{
                color: rgba($primary-font-color,1);
            }
            & a{
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                text-decoration: none;
                cursor: pointer;               
                
            }
        }

    }
}

.projectProgressCompletedWork{
    border-radius: 5rem;
    width: 50%;
    height: 100%;
    @include gradientBackground;
    animation: gradient 1s ease infinite;

}