.projects{
    display: flex;
    flex-direction: column;
    flex:1 1;

}
.projectGroup{
    display: flex;
    width: 100%;
    height: 10rem;
    @include defaultFont;
    font-size: 1.5rem;
    position: relative;
    &__control{
        display: flex;
        margin-top: 5rem;
        margin-right: 10rem;

        & button{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: transparent;
            border:none;
            
        }
        & a{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: rgba($primary-font-color,1);
            font-size: 2rem;
            border-radius: 50%;
            text-decoration: none;
            background-image: linear-gradient(135deg, transparent 0%, transparent 50%, rgba($secondary-page-color,1) 60%);
            background-size: 500%;
            width: 5rem;
            height: 5rem;
            box-shadow:  0 0 .5rem .2rem rgba($tertiary-font-color,.7);
            transition: all .3s;
            &:hover{
                transform: translateY(-.2rem);
                background-position: 100%;
                box-shadow:  0 0 .8rem .2rem rgba($tertiary-font-color,.7);

            }
            &:active{
                box-shadow:  0 0 .3rem .2rem rgba($tertiary-font-color,.7);

                transform: translateY(0);
            }
        }
    }
    &__status{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 5rem;
        margin-left: 10rem;
        margin-right: auto;
        &--Btn{
            display: flex;
            cursor: pointer;
            margin: 0 2rem;
            
            & a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: 700;
                letter-spacing: .2rem;
                text-decoration: none;
                color: rgba($tertiary-font-color,1);
                position: relative;
                &::after{
                    transition: all .2s;
                    content: "";
                    position: absolute;
                    background-color: rgba($secondary-page-color,1);
                    width: 0%;
                    opacity: 0;
                    height: .3rem;
                    bottom: 1rem;
                    border-radius: 1rem;
                    transform: translateX(-2rem);
                }
            }
            & a:hover{
                color: darken(rgba($tertiary-font-color,1),20%);
               &::after{
                   opacity: 1;
                   width: 100%;

                   transform: translateX(0rem);

               }         
            }    
        }
    }

}
.projectList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem 0 5rem;
    
}
.projectCard{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 30rem;
    margin:2rem;
    background-color: rgba($primary-font-color,1);
    border-radius:1rem;
    @include defaultFont;
    box-shadow: 0 .8rem .6rem -.6rem rgba($tertiary-font-color,.4);
    position: relative;
    opacity: 0;
    transition: all .2s;
    
    &::before,&::after{
        transition: all .2s;
        left: 50%;
        transform:translateX(-50%) ;
        content: "";
        position: absolute;
        height: .4rem;
        background-color: rgba($primary-font-color,1);
        width:100rem;
        border-radius: 2rem;
        bottom:0;
    }
    &::before{
        width: 80%;
    }&::after{
        width: 60%;
    }
    &:hover{
        box-shadow: 0 1rem .8rem -.6rem rgba($tertiary-font-color,.8);

        &::before{
            bottom: -1rem;
        }
        &::after{
            bottom: -2rem;
        }
    }
    &__SubGroup{
        width: 100%;

    }
    &__Group{
        display: flex;
        width: 100%;
        &--1{
            height: 3rem;
        }
        &--2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 10rem;
            color: darken(rgba($tertiary-font-color,1),20%);
            & h2{
                letter-spacing: .3rem;
                font-weight: 1000;
                font-size: 1.6rem;
            }
            & p{
                font-weight: 500;
                font-size: 1.4rem;                
                font-weight: 600;
                letter-spacing: .1rem;


            }
        }
        &--3{
            font-weight: 1000;
            color: rgba($tertiary-font-color,1);
            font-size: 1.2rem;
            letter-spacing: .2rem;
            & p{
                padding-left: 2rem;
                margin-bottom: 1rem;
            }
        }
        &--team{
            display: flex;
            padding-left: 1rem;
            margin-right: auto;
            display: flex;
            overflow: hidden;
        }
        &--progressBar{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 6rem;
            margin-bottom: 1rem;
            & p{
                text-align: right;
                margin-right: 1rem;
                margin-top: 1rem;
            }
        }
        
        &--header{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-right: auto;
            padding-left: 2rem;
            padding-top: .5rem;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: .1rem;
            color: rgba($tertiary-font-color,.8);
            font-size: 1.5rem;
            letter-spacing: .2rem;

        }
        &--headerBtn{
            display: flex;
            width: 2rem;
            height: 2rem;
            font-size: 1.8rem;
            padding-top: .2rem;
            & a{
                transition: all .2s;
                backface-visibility: hidden;
                text-decoration: none;
                color: rgba($tertiary-font-color,.7);
                &:hover{
                    color: rgba($tertiary-font-color,1);

                }
            }

        }
        &--timeleft{
            display: flex;
            width: auto;
            margin-right: 1rem;
            & p{
                padding: 0 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: rgba($secondary-page-color,1);
                width: 100%;
                height: 100%;
                border-radius: 4rem;
                background-color: rgba($secondary-page-color,.5);
                font-size: 1.2rem;
                font-weight: 1000;

            }
        }
    }

}

.projectProgressBar{
    display: flex;
    width: 95%;
    height: 1.5rem;
    border-radius: 2rem;
    margin-left: 1rem;
    border: .2rem solid rgba($tertiary-font-color,.2);
    position: relative;
    overflow: hidden;
}



.projectProgressCompletedWork{
    border-radius: 5rem;
    height: 100%;
    @include gradientBackground;
    animation: gradient 1s ease infinite;
    //define width to show project's progress
}

.addNewProjectForm{
    display: none;
    flex-direction: column;
    width: 0rem;
    height:0rem;
    position: absolute;
    top:14%;
    left: 40%;
    background-color: rgba($primary-font-color,1);
    padding: 2rem;
    opacity: 0;
    transform-origin: bottom;
    z-index: 1000;
    @include defaultFont;   
    box-shadow: 0 0 .8rem .2rem rgba($tertiary-font-color,.8);
    & h1{
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 3rem;
        letter-spacing: .5rem;
        color: rgba($secondary-page-color,1);
    }
}
.addNewProjectGroup{
    display: none;
    flex-direction: column;
    opacity: 0;
    margin: 1rem 0;
    & input, select{
        @include defaultFont;
        font-weight: 700;
        background-color: none;
        border: none;
        border-bottom: .2rem solid rgba($tertiary-font-color,.2);
        width: 70%;
        margin-top: 1rem;
        color: rgba(black,.8);
        letter-spacing: .2rem;
        &:focus{
            outline:none;
            background-color: transparent;
        }
        &:placeholder-shown{
            @include defaultFont;
        }
    }
    & select option{
        border: 0px;
        background-color: transparent;
        outline: 0px;
        @include defaultFont;
        font-size: 1.2rem;
        color: rgba($tertiary-font-color,1);
        font-weight: 800;
        letter-spacing: .2rem;
    }
    & h2{
        color: rgba($secondary-page-color,.7);
        letter-spacing: .2rem;
        font-weight: bold;
    }   
    &:last-of-type{
        flex-direction: row !important;
    }
}
.createNewProjectBtn{
    display: flex;
    @include defaultFont;
    font-weight: 800;
    letter-spacing: .2rem;
    width: 15rem;
    height: 4rem;
    margin: 2rem 1rem 0 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
    border: none;
    color: rgba(black, .8);
    box-shadow: 0 .5rem .8rem -.2rem rgba($tertiary-font-color,1);
    transition: all .2s;
    &:focus{
        outline: none;
    }
    &--submit:hover{
        color: rgba($primary-page-color,1); 
        background-color: green;

    }&--cancel:hover{
        color: rgba($primary-page-color,1); 
        background-color: rgba($secondary-page-color,1);
    }
}

.NotFoundProject{
    display: flex;
    width: 100%;
    font-size: 3rem;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: .2rem;
    color: rgba(red,.8);
    @include defaultFont;
}
.projectPageNotification{
    @include defaultFont;
    display: flex;
    width: auto;
    padding: 0 2rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    background-color: rgba(black,1);
    position: absolute;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    bottom: 0rem;
    transform: translateY(-5rem);
    top: 5%;
    left: 38%;
}