.login__form{
    display: flex;
    overflow: hidden;
    @include defaultFont;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45rem;
    height: 70rem;
    z-index: 1;
    border-radius: 1rem;
    position: relative;
    backdrop-filter: blur(1rem);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);

}
.login__group{
    width: 100%;
    text-transform: capitalize;
    font-size: 1.4rem;
    color: $primary-font-color;
    transition: all .2s;
    letter-spacing: .2rem;

    &--info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 30%;
        letter-spacing: .3rem;

    }
    &--input{
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 1.8rem;
        letter-spacing: .2rem;
        margin-bottom: 2.5rem;
        & input{
            position: relative;
            width: 30rem;
            height: 4rem;
            border-radius: 5rem;
            border: .2rem solid rgba($secondary-font-color,1);
            background-color: transparent;
            padding-left: 1rem;
            letter-spacing: .2rem;
            font-size: 1.8rem;
            color: rgba($primary-font-color,1);
            transition: all ease .2s;
            &:focus, &:active{
                outline: none;  
                box-shadow: 0 0 5px rgba($secondary-font-color,1), 0 0 10px $secondary-font-color, 0 0 20px rgba($secondary-font-color,1);
            }
            &:placeholder-shown + .login__group--label{
                opacity: 0;
                visibility: hidden;
                font-size: 1rem;
                transform: translateY(-4rem);       
            }

            &::placeholder{
                color: rgba(255,255,255,.2);
            }
        }
        & label{
            display: block;
            font-size: 1.2rem;
            margin-left: 1.2rem;
            transition: all .2s;
            backface-visibility: hidden;
            color: rgba(23, 192, 74,1);
            font-weight: 500;
            padding-top: .8rem;
        }
    }
    &--forgot{
        text-align: right;
        margin-right: 4rem;
    }
    &:last-of-type{
        margin-top: auto;
        margin-bottom: 2rem;
    }
    &--submit{
        position:relative;
        width: 100%;
        height: 20%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include noSelect;

    }
    &--button{
        border: .3rem solid rgba($secondary-font-color,1);
        outline: none;
        background-color: transparent;
        font-size: 1.8rem;
        text-transform: uppercase;
        border-radius: 3rem;
        width: 20rem;
        height: 5rem;
        color: $primary-font-color;
        font-weight: 400;
        letter-spacing: .4rem;
        z-index: 2;
        transition: all .2s ease-in-out;
        backface-visibility: hidden;
        overflow: hidden;
        background-image: linear-gradient(90deg, transparent 0%, transparent 50%, rgba($secondary-font-color,1) 50%);
        background-size: 220%;
        &:hover, &:active{
            background-position: 100%;
            box-shadow: 0 0 5px rgba($secondary-font-color,1), 0 0 10px $secondary-font-color, 0 0 20px rgba($secondary-font-color,1);
          
        }

    }
    & a{
        text-decoration: none;
        color: $secondary-font-color;
        font-weight: 700;
        font-size: 1.2rem;
        &:hover{
            color: darken($secondary-font-color,5%);
          
        }
    }
    &--logo{
        & img{
            width: 12rem;
            @include noSelect;
            margin-bottom: 4rem;
            margin-top: 2rem;
        }
    }
}