.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    box-shadow: 0rem 0rem 20rem .2rem rgba($tertiary-font-color,1);
    background-color: $primary-font-color;
    z-index: 1000;
    &__group{
        display: flex;
        flex-direction: row;
        &:first-of-type{
            margin-right: auto;
        }
        &--text{
            display: flex;
            margin-left: 8rem;
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: darken(rgba($tertiary-font-color,1),15%);
            letter-spacing: .3rem;
            text-transform: capitalize;
        }
    }
    &__list{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        text-decoration: none;
        list-style-type: none;
        cursor: pointer;
        &--items{
            @include defaultFont;
            font-weight: 700;
            color: $tertiary-font-color;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2rem;
            width: 10rem;
            font-size: 2.2rem;
            position: relative;
            transition: all .2s;
            backface-visibility: hidden;
            perspective: 1000px;
            display: flex;

            &:first-of-type{
                width: 25rem;
              }
            &:not(:first-of-type){
                border-left: .2rem solid rgba($tertiary-font-color,.4);
                &:hover{
                    color: darken(rgba($tertiary-font-color,1),20%);
                }
            }
 
            & p{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                position: absolute;
                top: 0;
                left: 2rem;
                background-color: $secondary-page-color;
                width: 3rem; 
                height: 2rem;
                border-radius: 2rem;
                color: $primary-font-color;
                margin-top: .5rem;
                letter-spacing: .2rem;
           
            }
            & label{
                display: flex;
                font-weight: 700;
                letter-spacing: .3rem;
                font-size: 1.2rem;
                margin-left: 2rem;
                text-align: center;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all .2s;
            }
            &:first-of-type i{
                font-size: 1.8rem;
                margin-left: 2rem;
            }
        }
    }
}

.header__dropdown{
    display:none;
    width: 25rem;
    list-style-type: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 10;
    &--items{
        @include defaultFont;
        color: rgba($tertiary-font-color,1);
        background-color: rgba($primary-font-color,1);
        display:flex;
        height: 4rem;
        width: 100%;
        font-size: 1.5rem;
        position: relative;
        overflow: hidden;
        &:not(:last-of-type){
            border-bottom: 0.2rem solid rgba($tertiary-font-color,.3);
            border-top: 0.2rem solid rgba($tertiary-font-color,.3);
        }
        &:last-of-type{
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }

        & a{
            display: flex;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color:rgba($tertiary-font-color,1);
            position: relative;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: all 350ms;
            &:hover{
                background-color: rgba($secondary-page-color,.8);
                color: rgba($primary-font-color,1);
            }
            & i{
                display:flex;
                width: 5rem;
                height: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                position: absolute;
                top: 0;
                left: -2rem; 
                font-size: 4rem;
                border-right: .2rem solid rgba($tertiary-font-color,.3);
            }
        }
    }
}