#logo{
    width: 10rem;
}
#user__profile--img{
    display: flex;
    width: 4rem;
    box-shadow: 0 0 .6rem 1px rgba($tertiary-font-color,1);
    border-radius: 50%;
    transition: all .2s;
    &:hover{
        box-shadow: 0 0 1rem 1px rgba($tertiary-font-color,1);
        transform: scale(1.1);
    }
}

.centerImg{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.employee__photo{
    margin: .5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem 1px rgba($tertiary-font-color,1);
}
.information__photo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem 1px rgba($tertiary-font-color,1);
}
#background__userPhoto{
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

#teamMemberPhoto{
    display: flex;
    border-radius: 50%;
    padding: .2rem;
    width: 3.5rem;
    height: 3.5rem;
}

#employeeGeneralInfoPhoto{
    display: flex;
    width: 18rem;
    height: 20rem;
    border-radius: .5rem;
    box-shadow: 0 .4rem .8rem .2rem rgba($tertiary-font-color,1);
    margin-top: 2rem;
}