.navbar{
    display: flex;
    flex-direction: column;
    width: 6rem;
    position: absolute;
    backface-visibility: hidden;
    transition: $ease;
    overflow: hidden;
    z-index: 10;
    &__list{
        display: none;
        list-style: none;
        width: 100%;
        flex-direction: column;
        font-size: 2.5rem;
        text-align: center;
        align-items: center;
        background-color: $primary-navbar-color;
        transition: $ease;

        &:visited, &:link{
            text-decoration: none;
            
        }               
    }
    &__items{
        display: flex;
        height: 6rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: all .2s;
        &:first-of-type{
            border-top: .1rem solid rgba($primary-font-color,.2);
        }
        border-bottom: .1rem solid rgba($primary-font-color,.2);
        &:hover{
            background-color: rgba($secondary-page-color,1);
    
        }
        &:hover .navbar__link{
            color: rgba($primary-navbar-color,1);
        }
    }
    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgba($primary-font-color,.4);
        width: 100%;
        height: 100%;
        transition: all .2s;
        backface-visibility: hidden;
        
        &:active{
            transform: scale(0.9);
        }
    }

}



.burger{
    width: 100%;
    height: 5rem;
    display: flex;
    background-color: rgba($primary-navbar-color,1);
    justify-content: center;
    align-items: center;
    position: relative;
    transition: $ease;

    &__button{
        width: 3rem;
        height: .3rem;
        background-color: rgba($primary-font-color,1);
        border-radius: 5rem;
        position: absolute;
        &::after, &::before{
            content: "";
            width: 3rem;
            height: .3rem;
            border-radius: 5rem;
            background-color: rgba($primary-font-color,1);
            position: absolute;
        }
        &::before{
            top: -1rem;
        }
        &::after{
            top: 1rem;
        }

    }


}
